<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grievance System</title>
</head>
<body>
    <h1>Welcome to the Grievance System</h1>
    <p>This system allows employees to raise grievances and HR to respond and resolve these issues within 24 hours.</p>
</body>
</html>
